body {
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    background: #2b2b2b;
    color: #eaeaea;
}

.container {
    margin: 50px auto;
    max-width: 1000px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#stats-box {
    margin-bottom: 20px;
    background: #444;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
}

.inventory-item__top {
    display: flex;
    justify-content: space-between;
    background: #3c3c3c;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #555;
}

.inventory-item__top-right {
    flex: 1;
}

.inventory-item__name a {
    font-weight: bold;
}

.inventory-item__details {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.inventory-item__picture-container {
    margin-left: 10px;
}

.inventory-item__picture {
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000;
}

.inventory-item__bottom {
    background: #3c3c3c;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #555;
}

.white,.white:hover,.white:focus {
    color: #9F7445;
}

.zold,.zold:hover,.zold:focus {
    color: #149F00;
}

.rare,.rare:hover,.rare:focus {
    color: #0070DD;
}

.epic,.epic:hover,.epic:focus {
    color: #A335EE;
}

.legendary,.legendary:hover,.legendary:focus {
    color: #FF8000;
}

.wowhead-tooltip a {
    font-weight: normal;
}

a {
    font-weight: bold;
}

a:hover,a:focus {
    color: #23527c;
    text-decoration: underline;
}
