body {
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    background: #2e2e2e;
    color: #f0f0f0;
}

.container {
    margin: 50px auto;
    max-width: 1200px;
    text-align: center;
    padding: 20px;
    background: #3c3c3c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

#stats-box {
    text-align: left;
    background: #4a4a4a;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#stats-box h2 {
    margin: 0 0 10px 0;
    color: #ffffff;
}

#stats-box p {
    margin: 5px 0;
    color: #ffffff;
}

label {
    color: #ffffff;
}

select {
    margin-bottom: 20px;
    padding: 5px;
    background: #4a4a4a;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}

.character-table-container {
    margin-bottom: 20px;
    background: #4a4a4a;
    padding: 10px;
    border-radius: 8px;
}

.character-table {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
    background: #434343;
}

.character-table th, .character-table td {
    padding: 8px;
    border: 1px solid #272727;
    text-align: left;
}

.character-table th {
    background: #313131;
}

.character-table td {
    background: #434343;
}

.character-table td:nth-child(1) {
    text-align: left;
    padding-left: 10px;
}

.character-table tfoot {
    background: #6a6a6a;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.icon {
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px #000;
    margin: 0px 3px 0px 1px;
    height: 15px;
    width: 15px;
}

.white,.white:hover,.white:focus {
    color: #9F7445;
}

.zold,.zold:hover,.zold:focus {
    color: #149F00;
}

.rare,.rare:hover,.rare:focus {
    color: #0070DD;
}

.epic,.epic:hover,.epic:focus {
    color: #A335EE;
}

.legendary,.legendary:hover,.legendary:focus {
    color: #FF8000;
}

.wowhead-tooltip a {
    font-weight: normal;
}
